<div class="container">
    <div class="row p-5">
        <div class="col-12">
            <div class="row section-banner">
                <div class="col-6">
                    <h2>Listado de Insumos</h2>
                </div>
                <div class="col-6 btn-agregar">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalInsumo"
                        (click)="titulo('Crear', null)">
                        Nuevo Insumo
                    </button>
                </div>
            </div>
        </div>
        <div class="col-12">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Disponible</th>
                        <th scope="col">Tipo</th>
                        <th scope="col">Editar</th>
                        <th scope="col">Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let lista of listarInsumos; index as i">
                        <th scope="row">{{i+1}}</th>
                        <td>{{lista.nombre}}</td>
                        <td>{{lista.estado === 'A' ? 'Si' : 'No'}}</td>
                        <td>{{lista.tipo.descripcion}}</td>
                        <td>
                            <button type="button" class="btn btn-success" data-bs-toggle="modal"
                                data-bs-target="#modalInsumo" (click)="titulo('Editar', lista.id)">
                                Editar
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-danger" (click)="eliminarInsumo(lista.id)">Eliminar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


   <!-- Modal -->
   <form [formGroup]="formInsumo">
    <div class="modal fade" id="modalInsumo">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{title}}</h5>
                    <button type="button" class="btn-close" (click)="cerrarBoton()"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-6">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" placeholder="Nombre"
                                    formControlName="nombre" required>
                                <label for="Nombre">Nombre</label>
                           
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-floating">
                                <select class="form-select" formControlName="estado">
                                    <option selected>Estado</option>
                                    <option value="A">Disponible</option>
                                    <option value="E">No disponible</option>
                                </select>
                                <label for="floatingSelect">Estado</label>
                            </div>
                        </div>

                  
                        <div class="col-6">
                            <div class="form-floating">
                                <select class="form-select" formControlName="idtipo">
                                    <option *ngFor="let lista of listarTipos;" value="{{lista.id}}">{{lista.descripcion}}</option>
                                </select>
                                <label for="idtipo">Tipo</label>
                            </div>
                        </div> 
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="cerrarBoton()">Cerrar</button>
                    <button type="submit" class="btn btn-primary" (click)="crearEditarInsumo(nameBoton)">{{nameBoton}}</button>
                </div>
            </div>
        </div>
    </div>
</form>

</div>
    
    

















